.clg{
    background-color: lightgreen;
    border: solid 1px black;
}

.clb{
    background-color: lightblue;
    border: solid 1px black;
}

.cly{
    background-color: purple;
    border: solid 1px black;
}

.clo{
    background-color: pink;
    border: solid 1px black;
}

.cg{
    background-color: lightgrey;
    border: solid 1px black;
}

